---
layout: default
title: API Evangelist
---

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>I am Kin Lane, the API Evangelist...</h2>
		</header>
		<p align="right"><img src="https://s3.amazonaws.com/kinlane-productions/kin-lane/kin-lane-cartoon-questioning.png" alt="Kin Lane" width="22%" align="right" /></p>
		<p>This is my online domain where I work to understand the world of the Application Programming Interfaces, also known as APIs. This new way of sharing data using the web is touching almost every aspect of our increasingly digital lives, providing access to the bits and bytes that make our personal and professional worlds go round.</p>
		<p>API Evangelist is my full time research into how APIs are impacting our worlds (both good and bad), where I work to better understand the technology, business, and politics of the APIs that are driving our websites, mobile, and devices that seem to be everywhere.</p>
		<p>API Evangelist is a network of data driven projects and APIs which I curate and manage as part of this ongoing research, hoping to provide easy access to the moving parts of my work. Everything you see here runs on Github, making everything forkable, and resuable for both humans and machines.</p>
	</div>
</section>

<!-- Partners -->
<section>
	<header>
		<h2>API Evangelist Partners</h2>
		<p>These are my partners who invest in API Evangelist each month, helping underwrite my research, and making sure I'm able to keep monitoring the API space as I do.</p>
	</header>
	<div class="features">
		{% assign partners = site.data.partners.index | sort: 'view_sort' %}
    {% for partner in partners %}
      {% if partner.type == 'Sponsor' %}
			<article>
				<p><a href="{{ partner.url }}" target="_blank"><img src="{{ partner.image }}" width="75%" style="padding: 15px;" align="center" /></a></p>
				<div class="content">
					<h3><a href="{{ partner.url }}" target="_blank">{{ partner.name }}</a></h3>
					<p>{{ partner.description }}</p>
				</div>
			</article>
      {% endif %}
    {% endfor %}
	</div>
</section>

<!-- Blog -->
{% assign switch = true %}
{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
{% for post in site.posts %}
 	{% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
  {% if post.title != null %}
		{% if posttime < nowunix %}
			{% if switch == true %}
				<section id="banner">
					<div class="content">
						<header>
							<h2>Latest From Blog: {{ post.title }}</h2>
							<p><em>{{ post.date | date_to_string }}</em></p>
						</header>
						{{ post.content }}
						<ul class="actions" style="text-align: center;">
							<li><a href="/blog/" class="button big">Read The Blog</a></li>
						</ul>
					</div>
				</section>
				{% assign switch = false %}
			{% endif %}
		{% endif %}
	{% endif %}
{% endfor %}

<section id="banner">
	<div class="content">
		<header>
			<h1><a href="http://101.apievangelist.com">API 101</a></h1>
		</header>
		<p>I have a lot of information regarding APIs on my network of sites, but I'm always trying to make sure I have a sufficient amount of 101, or getting started information for people who are just learning what an API is, and what is possible.</p>
		<p>I have some information available to help walk you through the concept of an API, and how they have been expanding over the last 15 years across all the online services you have become familiar with on the web and mobile phone.</p>
		<ul class="actions" style="text-align: center;">
			<li><a href="http://101.apievangelist.com" class="button big">Getting Started With APIs</a></li>
		</ul>
	</div>
	<span class="image object">
		<a href="http://101.apievangelist.com"><img src="/images/api-101-square.png" alt="" width="25%" /></a>
	</span>
</section>


<section id="banner">

	<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tr>
			<td style="vertical-align: middle;">
				{% include subway-vertical-top.html %}
			</td>
			<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
				<h3>Definitions</h3>
				From the simplest definition of what a service does, all the way to the complete OpenAPI definition for each service.
			</td>
		</tr>
		<tr>
			<td style="vertical-align: middle;">
				{% include subway-vertical.html %}
			</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Design</h3>
			The consistent design of each service leverage existing patterns, as well as the web to deliver each service.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Versioning</h3>
			Plan for handling changes, and the inevitable evolution of each service, its definitions, and supporting code.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>DNS</h3>
			The domain addressing being used for routing, management and auditing of all service traffic.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Database</h3>
			The backend database schema, infrastructure, and other relevant information regarding how data is managed.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Compute</h3>
			How is the underlying compute delivered for each service using containers, serverless, cloud, and on-premise infrastructure.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Storage</h3>
			What does storage of all heavy objects, media, and other assets involved with the delivery of services.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Deployment</h3>
			Details services developed, and deployed, including frameworks and other libraries being used.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Orchestration</h3>
			Defining what the build, syndication, and orchestration of service deployments and integrations look like, and are executed.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Dependencies</h3>
			Identifying all backend service, code and infrastructure dependencies present for each service.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Search</h3>
			Strategy for understanding what search will look like for each individual service, and play a role in larger, more comprehensive search across services.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Proxy</h3>
			What proxies are in place to translate, cache, stream, and make services more efficient and secure?
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Gateway</h3>
			What gateways are in place to defend, protect, route, translate, and act as gatekeeper for service operations?
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Virtualization</h3>
			Details how how services and their underlying data are mocked, virtualized, sandboxed, and made available for non-production usage.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Authentication</h3>
			What is involved with authentication across all services, including key-based approaches, basic authentication, JWT, and OAuth solutions.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Management</h3>
			Information about how services are composed, limited, measured, reported upon, and managed consistently across all services.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Logging</h3>
			What is being logged as part of service operations, and what is required to participate in overall logging strategy?
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Portal</h3>
			The strategy for how all services are required to be published to one or many public, private, and partner developer portals.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Documentation</h3>
			The requirements for what documentation is expected as part of each service presence, defining what the services delivers.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Support</h3>
			Relevant support channels, points of contact, and best practices for receiving support as an API consumer.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Communications</h3>
			Information about the communication strategy around each service, and how blogs, social, and other channels should be leveraged.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Road Map</h3>
			Details on a services road map, and what the future will hold, providing individual service, as well as larger organizational details on what is next.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Issues</h3>
			Expectations, communications, and transparency around what the current bugs, issues, and other active problems exist on a platform.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Change Log</h3>
			Translating the road map, and issues into a log of activity that has occurred for each service, providing a history of the service.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Monitoring</h3>
			What is required when it comes to monitoring the availability and activity of each individual service.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Testing</h3>
			The tactical, as well as strategic testing that is involved with each service, ensuring it is meeting service level agreements.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Performance</h3>
			How is the performance of each service measured and report upon, providing a benchmark for the quality of service.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Observability</h3>
			What does observability of the service look like, providing transparency and accountability using all of its existing outputs?
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Caching</h3>
			What caching exists at the server, CDN, and DNS layers for each service to provide a higher level of performance?
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Encryption</h3>
			Details regarding what is expected regarding encryption on disk, as well as in transport for each service.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Security</h3>
			Detailed strategy and processes regarding how each service is secured on a regular basis as part of operations.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Terms of Service (TOS)</h3>
			Considerations, and legal requirements applied to each service as part of the overall, or individual terms of services.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Privacy</h3>
			Details regarding the privacy of platform owners, developers, and end users as it pertains to service usage.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Service Level Agreements (SLA)</h3>
			Details regarding what service levels are required to be met when it comes to partner and public engagements.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Licensing</h3>
			Information about backend server code, API surface area, data, and client licensing in play.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Branding</h3>
			What branding requirements are in place for the platforms and its partners when it comes to the service.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Regulation</h3>
			Information regarding regulations in place that effect service operations, and are required as part of its usage.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Discovery</h3>
			How are services catalogued and made discoverable, making them accessible to other systems, developers, as well as to internal, partner, or public groups.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Client</h3>
			Information about clients being used to interface with and work with the service, allowing it to be put to use without code.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Command Line Interface</h3>
			The command line interface (CLI) tooling being used to developer or consume a service.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>SDKs</h3>
			What software development kits (SDK) are generated, or developed and maintained as part of a service’s operation?
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Plugin</h3>
			What platform plugins are developed and maintained as part of a services operations, allowing it to work with other platforms and services.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>IDE</h3>
			Are there integrated development environment (IDE) integrations, libraries, plugins, or availability considerations for each service?
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Browsers</h3>
			Are there any browser plugins, add-ons, bookmarklets and integrations used as part of each service’s operation?
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Embeddable</h3>
			Information about any embeddable badges, buttons, widgets, and other JavaScript enabled solutions built on top of a service?
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Bots</h3>
			What type of automation and bot implementations are in development or being supported as part of a service’s operation?
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Visualization</h3>
			Are there specific visualizations that exist to help present the resources available within any service?
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Analysis</h3>
			How are logs, APIs, and other aspects of a service being used as part of wider analysis, and analytics strategy?
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Aggregation</h3>
			Are there any aggregation solutions in place that involve the service, and depend on its availability?
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Integration</h3>
			What 3rd party integrations are available for working with a service in existing integration platforms like IFTTT, and Zapier.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Network</h3>
			Information about networks that are setup, used, and allocated for each service governing how it can be accessed and consumed.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Regions</h3>
			Which regions does a service operate within, making it available in specific regions, and jurisdictions–also which regions is it not allowed to operate within.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Webhooks</h3>
			Are there webhooks employed to respond to events that occur via the service, pushing data, and notification externally to consumers?
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Migration</h3>
			What solutions are available for migrating an API between regions, cloud environments, and on-premise?
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Backup</h3>
			What types of backups are in place to bring redundancy to the database, server, storage, and other essential aspects of a service’s operations?
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Real Time</h3>
			Are there Server-Sent Events (SSE), Websocket, Kafka, and other real time aspects of a service’s delivery?
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Voice</h3>
			Are there any voice or speech enablement, integrating services with Alex, Siri, Google Home, or other conversational interface?
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Spreadsheets</h3>
			What types of spreadsheet integrations, connectors, and publishing solutions are available for a service?
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Investment</h3>
			Where do the funds for operating a service come from within a company, from external organizations, or VC funds?
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Monetization</h3>
			What does it cost to operate a service, breaking down the one time and recurring costs involved with delivering the service.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Plans</h3>
			Outline of plans involved with defining, measuring, reporting, and quantifying value generated around a service’s operation.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; ">
			<h3>Partners</h3>
			An overview of partner program involved with a service’s operation, and how a wider partner strategy affects a service’s access and consumption.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Certification</h3>
			Are there certification channels available for applications and developers, defining the knowledge required to competently operate and integrate a service.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Evangelism</h3>
			What does internal, public, and partner evangelism efforts and requirements look like for a service, and its overall presence?
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Showcase</h3>
			How are developers and applications using a service showcased, and presented to the community, demonstrating the valuable around a service?
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Deprecation</h3>
			What are the plans for deprecating a service, involved the road map and communication around the individual and overall deprecation of service(s).
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;">{% include subway-vertical.html %}</td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Training</h3>
			What training materials need to be developed, or already exist to support the service.
		</td>
	</tr>
	<tr>
		<td style="vertical-align: middle;"> {% include subway-vertical-bottom.html %} </td>
		<td style="min-height: 400px; padding-top:13px; padding-left: 25px; vertical-align: middle;">
			<h3>Governance</h3>
			How are all steps measured, quantified, aggregated, reported upon, and audited as part of a larger quality of service effort for each service.
		</td>
	</td>
</tr>
</table>
</section>

<section id="banner">
	<div class="content" style="padding: 25px;">
		<a name="Newsletter"></a>
		<header>
			<h1><a href="/tools/">Newsletter(s)</a></h1>
		</header>
		<table>
			<tr>
				<td width="50%" align="left" valign="top" style="background-color:#FFF;">

					<p><strong>API Evangelist Weekly Digest</strong></p>
					<p>A roundup of the stories from API Evangelist each week sent to your inbox each Monday morning, so you can stay caught up on what has occured each week.</p>
					<!-- Begin MailChimp Signup Form -->
					<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
					<style type="text/css">
						#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
						/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
						   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
					</style>
					<div id="mc_embed_signup">
					<form action="https://apievangelist.us17.list-manage.com/subscribe/post?u=36a583d2f353a9d31387227ea&amp;id=0593412b68" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">

					<div class="mc-field-group">
						<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
					</td>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></td>
							<div class="response" id="mce-success-response" style="display:none"></td>
						</td>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_36a583d2f353a9d31387227ea_0593412b68" tabindex="-1" value=""></td>
					    <div class="clear"><br /><br /><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></td>
					    </td>
					</form>
					</td>
					<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='BIRTHDAY';ftypes[3]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
					<!--End mc_embed_signup-->

			</td>
			<td width="50%" align="left" valign="top" style="background-color:#FFF;">

				<p><strong>REST API Notes Newsletter</strong></p>
				<form action="https://tinyletter.com/RESTAPINotes" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/RESTAPINotes', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
					<p>Want a carefully curated, succinct list of only the most important web API news each week? Sign up for the <a href="https://tinyletter.com/RESTAPINotes/">REST API Notes email newsletter</a> to stay more informed in less time.</p>
					<p>
						<label for="mce-EMAIL"><strong>Email Address  <span class="asterisk">*</span></strong></label>
						<input type="email" name="email" id="tlemail" placeholder="email@example.com" style="width: 100%;" width="100%" /></p>
						<input type="submit" value="Subscribe" />
						<input type="hidden" value="1" name="embed"/>
				</form>


			</td>
		</tr>
	</table>

</div>
</section>
