---
layout: default
title: API Evangelist
---

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h2>I am Kin Lane, the API Evangelist...</h2>
		</header>
		<p>This is my online domain where I work to understand the world of the Application Programming Interfaces, also known as APIs. This new way of sharing data using the web is touching almost every aspect of our increasingly digital lives, providing access to the bits and bytes that make our personal and professional worlds go round.</p>
		<p>API Evangelist is my full time research into how APIs are impacting our worlds (both good and bad), where I work to better understand the technology, business, and politics of the APIs that are driving our websites, mobile, and devices that seem to be everywhere.</p>
		<p>API Evangelist is a network of data driven projects and APIs which I curate and manage as part of this ongoing research, hoping to provide easy access to the moving parts of my work. Everything you see here runs on Github, making everything forkable, and resuable for both humans and machines.</p>
	</div>
	<span class="image object">
		<img src="/images/kin-lane-api-evangelist-cartoon.png" alt="Kin Lane" width="25%" />
	</span>
</section>

<!-- Partners -->
<section>
	<header>
		<h2>API Evangelist Partners</h2>
		<p>These are my partners who invest in API Evangelist each month, helping underwrite my research, and making sure I'm able to keep monitoring the API space as I do.</p>
	</header>
	<div class="features">
		{% assign partners = site.data.partners.index | sort: 'view_sort' %}
    {% for partner in partners %}
      {% if partner.type == 'Sponsor' %}
			<article>
				<p><a href="{{ partner.url }}" target="_blank"><img src="{{ partner.image }}" width="75%" style="padding: 15px;" align="center" /></a></p>
				<div class="content">
					<h3><a href="{{ partner.url }}" target="_blank">{{ partner.name }}</a></h3>
					<p>{{ partner.description }}</p>
				</div>
			</article>
      {% endif %}
    {% endfor %}
	</div>
</section>

<!-- Blog -->
{% assign switch = true %}
{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
{% for post in site.posts %}
 	{% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
  {% if post.title != null %}
		{% if posttime < nowunix %}
			{% if switch == true %}
				<section id="banner">
					<div class="content">
						<header>
							<h2>Latest From Blog: {{ post.title }}</h2>
							<p><em>{{ post.date | date_to_string }}</em></p>
						</header>
						{{ post.content }}
						<ul class="actions" style="text-align: center;">
							<li><a href="/blog/" class="button big">Read The Blog</a></li>
						</ul>
					</div>
				</section>
				{% assign switch = false %}
			{% endif %}
		{% endif %}
	{% endif %}
{% endfor %}

<section id="banner">
	<div class="content">
		<header>
			<h1><a href="http://101.apievangelist.com">API 101</a></h1>
		</header>
		<p>I have a lot of information regarding APIs on my network of sites, but I'm always trying to make sure I have a sufficient amount of 101, or getting started information for people who are just learning what an API is, and what is possible.</p>
		<p>I have some information available to help walk you through the concept of an API, and how they have been expanding over the last 15 years across all the online services you have become familiar with on the web and mobile phone.</p>
		<ul class="actions" style="text-align: center;">
			<li><a href="http://101.apievangelist.com" class="button big">Getting Started With APIs</a></li>
		</ul>
	</div>
	<span class="image object">
		<a href="http://101.apievangelist.com"><img src="/images/api-101-square.png" alt="" width="25%" /></a>
	</span>
</section>

<section id="banner">
	<span class="image object">
		<a href="/api-lifecycle/"><img src="/images/api-lifecycle-square.png" alt="" width="25%" /></a>
	</span>
	<div class="content">
		<header>
			<h1><a href="/api-lifecycle/">API Lifecycle Research</a></h1>
		</header>
		<p>I spend most of my time studying how API providers are approaching the technology, business, and politics of their API operations. This work began understanding mostly the technology and business of API management in 2010, but after seven years it has spread to over 70 areas of what I see as the API lifecycle.</p>
		<p>This research reflects what API providers should be considering, but is extracted from the best (and worst) practices of the leading API providers out there. Because this is APIs, most of the services I cover as part of my API life cycle research also have APIs, allowing API infrastructure to be managed using APIs, adding an entirely new dimension to the conversation.</p>
		<ul class="actions" style="text-align: center;">
			<li><a href="/api-lifecycle/" class="button big">View API Lifecycle Research</a></li>
		</ul>
	</div>
</section>

<section id="banner">
	<span class="image object">
		<a href="/api-stack/"><img src="/images/stacks-square.png" alt="" width="25%" /></a>
	</span>
	<div class="content">
		<header>
			<h1><a href="/api-stack/">API Stack Research</a></h1>
		</header>
		<p>I have looked at thousands of APIs conducting my API lifecycle research over the last seven years. Many of these APIs aren't worth noting, but the ones that are get included in my API Stack research, where I dive deeper into understanding the common building blocks of their operations, and spend more time profiling their APIs, and supporting operations.</p>
		<p>You will find that I tend to study and research APIs I find interesting, or are beneficial to the world of technology. I tend to give equal time understanding organizational, instutions, government agencies, as well as the startups, SMB, SME, and enterprises that seem to dominate the conversation. While I do invest considerable resources in API definitions and discovery, and provide a rich catalog, I'm more interested in this work feeding my wider research and storytelling over actually being an API search engine or directory.</p>
		<ul class="actions" style="text-align: center;">
			<li><a href="/api-stack/" class="button big">View API Stack Research</a></li>
		</ul>
	</div>
</section>

<section id="banner">
	<span class="image object">
		<a href="/products/"><img src="/images/product-square.png" alt="" width="25%" /></a>
	</span>
	<div class="content">
		<header>
			<h1><a href="/products/">Products</a></h1>
		</header>
		<p>In the world of API Evangelist I have long said that I do not have any products to sell, something that makes me more vendor agnostic. This is something that has shifted over time, and I've begun to define some "products" derived from my research. I work to publish API industry guides to the most mature areas of my research, helping people better navigate each of the areas of the API industry.</p>
		<p>I'll keep publishing more API guides, and white papers, but I'm also hoping to develop new product lines of videos, lessons, audio, templates, and other useful things that my readers can also become customers. In coming years I'm hoping to expand and diversify how I fund my work to include a variety of products that hopefully folks will find valuable.</p>
		<ul class="actions" style="text-align: center;">
			<li><a href="/products/" class="button big">View Products</a></li>
		</ul>
	</div>
</section>

<!-- Services -->
<section id="banner">
	<span class="image object">
		<a href="/services/"><img src="/images/services-square.png" alt="" width="25%" /></a>
	</span>
	<div class="content">
		<header>
			<h1><a href="/services/">Services</a></h1>
		</header>
		<p>50% of my revenue comes from consulting. I take my awarness generated by my research into 70+ areas of the API lifecycle and help companies, organizations, institutions, and government agencies evolve their own efforts. I do not manage API operations for anyone (well, except my own), but will help invest developing a team, or increasing the capacity of an existing internal team.</p>
		<p>My services are derived from the requests I get regularly from my readers. It is a list I'm constantly evolving and shifting based upon where the API space is going, and what the demand is on the ground with API providers and consumers. If you need some help, take a look at the list of services I have, then feel free to reach out. If nothing else, I'd love to hear where you are in your journey, so maybe start by writing a quick snapshot of who you are, and what you are doing and send my way.</p>
		<ul class="actions" style="text-align: center;">
			<li><a href="/services/" class="button big">View Services</a></li>
		</ul>
	</div>
</section>

<section id="banner">
	<span class="image object">
		<a href="/tools/"><img src="/images/tools-square.png" alt="" width="25%" /></a>
	</span>
	<div class="content">
		<header>
			<h1><a href="/tools/">Tools</a></h1>
		</header>
		<p>I am a programmer. I have over 30 years of experience programming. Even though I do not currently own any production environment, or technology products, beyond operating my own infrastructure, I still can't help myselft when it comes to developing micro apps. I really enjoy developing simple, usually standalone JavaScript applications that run 100% on Github using Jekyll, and accomplish some specific goal in the API space.</p>
		<p>While not all my tools are ready for prime time, I try to keep them each in their own Github Repo, with as much of the backstory, code, data, and other definitions needed to understand what is going on. When I feel a tool is relevant, or maybe publish a story about it, I will usually add it to this list of API Evangelist tools, and share as part of my regular research, and even sometimes to operate my business.</p>
		<ul class="actions" style="text-align: center;">
			<li><a href="/tools/" class="button big">View Tools</a></li>
		</ul>
	</div>
</section>
<br />
