---
layout: page
title: API Evangelist Network Views for August, 2016
---


<table width="100%" border="0">
{% for entry in site.data.projects.views-2016-08 %}
  {% if entry.host == 'apievangelist.com' %}
    <tr>
      <td style="padding-left: 10px; width: 30%;">
        <a href="http://{{ entry.host }}" target="_blank" style="font-size: 12px;">{{ entry.host }}</a>
    </td>
      <td align="left">
        <table style="width: {{ entry.views | divided_by:75 }}px; height: 18px;"><tr><td style="background-color:#000; text-align: right; color:#FFF; padding-right: 5px; font-size: 12px;">{{ entry.views }}</td></tr></table>
      </td>
    </tr>
  {% endif %}
{% endfor %}

{% for entry in site.data.projects.views-2016-08 %}
  {% unless entry.host == 'apievangelist.com' %}
    <tr>
      <td style="padding-left: 10px; width: 30%;">
        <a href="http://{{ entry.host }}" target="_blank" style="font-size: 12px;">{{ entry.host }}</a>
    </td>
      <td align="left">
        <table style="width: {{ entry.views | divided_by:5 }}px; height: 18px;"><tr><td style="background-color:#000; text-align: right; color:#FFF; padding-right: 5px; font-size: 12px;">{{ entry.views }}</td></tr></table>
      </td>
    </tr>
  {% endunless %}
{% endfor %}
</table>
