<div class="container" style="margin-bottom: 25px;">
	<div class="row" style="border: 2px solid #000; padding: 10px 10px 15px 10px; border-radius: 25px;">
		<div class="col" align="center" style="border-right: 1px #000 solid;">
			<div class="row">
				<div class="col" style="font-size: 24px; font-weight: bold; text-decoration: underline;"><a href="https://apievangelist.com/2024/09/01/the-digital-api-supply-chain/" style="color: #000;">Raw Materials</a></div>
			</div>
			<div class="row">
				<div class="col"><img src="/images/raw-materials.png" height="75"></div>
			</div>
		</div>
		<div class="col" align="center" style="border-right: 1px #000 solid; border-left: 1px #000 solid;"">
			<div class="row">
				<div class="col" style="font-size: 24px; font-weight: bold; text-decoration: underline;"><a href="https://apievangelist.com/2024/09/01/the-digital-api-supply-chain/" style="color: #000;">Suppliers</a></div>
			</div>
			<div class="row">
				<div class="col"><img src="/images/suppliers.png" height="75"></div>
			</div>
		</div>
		<div class="col" align="center" style="border-right: 1px #000 solid; border-left: 1px #000 solid;"">
			<div class="row">
				<div class="col" style="font-size: 24px; font-weight: bold; text-decoration: underline;"><a href="https://apievangelist.com/2024/09/01/the-digital-api-factory-floor/" style="color: #000;">Factories</a></div>
			</div>
			<div class="row">
				<div class="col"><img src="/images/factories.png" height="75"></div>
			</div>
		</div>
		<div class="col" align="center" style="border-right: 1px #000 solid; border-left: 1px #000 solid;"">
			<div class="row">
				<div class="col" style="font-size: 24px; font-weight: bold; text-decoration: underline;"><a href="https://apievangelist.com/2024/09/01/the-digital-api-distribution-channels/" style="color: #000;">Distribution</a></div>
			</div>
			<div class="row">
				<div class="col"><img src="/images/distribution.png" height="75"></div>
			</div>
		</div>	
		<div class="col" align="center" style="border-left: 1px #000 solid;"">
			<div class="row">
				<div class="col" style="font-size: 24px; font-weight: bold; text-decoration: underline;"><a href="https://apievangelist.com/2024/09/01/the-digital-api-distribution-channels/" style="color: #000;">Retail</a></div>
			</div>
			<div class="row">
				<div class="col"><img src="/images/retail.png" height="75"></div>
			</div>
		</div>		      	  
	</div>
	<div class="row" style="border: 2px solid #000; padding: 10px 10px 15px 10px; border-radius: 25px;">
		<div class="col">
			<ul style="margin: 0px; padding: 0px 0px 0px 50px;">
				<li>Internal APIs</li>									
			</ul>			
		</div>
		<div class="col" style="border-right: 1px #000 solid; border-left: 1px #000 solid;"">
			<ul style="margin: 0px; padding: 0px 0px 0px 15px;">
				<li>3rd-Party Cloud APIs</li>
				<li>3rd-Party On-Premise APIs</li>									
			</ul>				
		</div>
		<div class="col" style="border-right: 1px #000 solid; border-left: 1px #000 solid;"">				
			<ul style="margin: 0px; padding: 0px 0px 0px 30px;">
				<li>Source Control</li>
				<li>Pipelines</li>
				<li>Gateways</li>										
			</ul>												
		</div>
		<div class="col" style="border-right: 1px #000 solid; border-left: 1px #000 solid;"">
			<ul style="margin: 0px; padding: 0px 0px 0px 30px;">
				<li>Portals</li>
				<li>Repositories</li>											
			</ul>					
		</div>	
		<div class="col" style="border-left: 1px #000 solid;">
			<ul style="margin: 0px; padding: 0px 0px 0px 30px;">
				<li>Desktop Applications</li>
				<li>Web Applications</li>
				<li>Mobile Applications</li>
				<li>Artificial Intelligence</li>												
			</ul>
		</div>					      	  
	</div>	
</div>