<footer class="uk-section uk-text-center uk-text-muted" style="margin-top: 5px; padding-top: 5px;">
    <div class="uk-container uk-container-small" style="margin-top: 5px; padding-top: 5px;">
        <div>
            <ul class="uk-subnav uk-flex-center">
                {% for link in site.data.navigation_footer %}
                    {% if link.url contains 'http' %}
                        {% assign domain = '' %}
                    {% else %}
                        {% assign domain = '' | relative_url %}
                    {% endif %}
                    {% if link.url == page.url %}
                        {% assign current = ' class="uk-active"' %}
                    {% else %}
                        {% assign current = null %}
                    {% endif %}
                    {% if link.title %}
                        <li{{ current }}><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" {% endif %}>{{ link.title }}</a></li>
                    {% endif %}
                {% endfor %}              
            </ul>
        </div>

        <div class="uk-margin-medium">
            <div data-uk-grid class="uk-child-width-auto uk-grid-small uk-flex-center uk-grid">
                {% include social-networks.html %}
            </div>
        </div>
        <div class="uk-margin-medium"></div>
            <div data-uk-grid class="uk-child-width-auto uk-grid-small uk-flex-center uk-grid">
                <div>
                    <form action="https://buttondown.com/api/emails/embed-subscribe/apievangelist" method="post" target="popupwindow"
                    onsubmit="window.open('https://buttondown.com/apievangelist', 'popupwindow')" style="padding: 0px; margin:0px;">
                    <input type="email" name="email" id="bd-email" placeholder="Your Email" />
                    <input type="submit" value="Subscribe" style="border-radius: 12px;background-color: #000; border: none; color: white; padding: 6px; text-align: center; text-decoration: none; display: inline-block; font-size: 12px; margin: 0px 0px 7px 0px;" />
                    </form>                    
                </div>
                <div>
                    <a href="https://podcasts.apple.com/us/podcast/api-evangelist-conversations/id1765157921"><img src="/assets/img/apple.jpg" width="100"></a>
                </div>
                <div>
                    <a href="https://www.youtube.com/playlist?list=PL5x2w5x0IRnH8znS7v0pAjZJJO8I8WwMD"><img src="/assets/img/youtube.png" width="100"></a>
                </div>
                <div>
                    <a href="https://soundcloud.com/kinlane/sets/api-evangelist-conversations"><img src="/assets/img/soundcloud.jpg" width="120"></a></li>   
                </div>
                <div>
                    <a href="https://open.spotify.com/show/3Yd46TJhCvXvWX7UZEcFlO"><img src="/assets/img/spotify.png" width="120"></a></li>   
                </div>                
            </div>
        </div>        

    </div>
</footer>
