<footer>
  <p align="center">
    <a href="http://apis.how/streamdata" target="_blank">
      <img src="https://s3.amazonaws.com/kinlane-productions/streamdata/streamdata-horizontal-2.png" width="75%" style="padding-top: 10px; border: 0px solid ###;" />
    </a>
  </p>
  <p align="center">
    all of my work:
    <a href="http://apievangelist.com">apievangelist.com</a> |
    <a href="http://kinlane.com">kinlane.com</a> |
    <a href="http://api.report">api.report</a> |
    <a href="http://adopta.agency">adopta.agency</a> |
    <a href="http://dronerecovery.org">dronerecovery.org</a> |
    <a href="http://http://algorithmic.rotoscope.work/">algorithmic.rotoscope.work</a>
  </p>
</footer>
