<a href="https://github.com/kinlane/api-evangelist"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
<div id="wrapper">
    
     <div id="header" class="col-full">
        <div id="logo"><a href="http://apievangelist.com/" title="API Evangelist"><img src="http://kinlane-productions.s3.amazonaws.com/api-evangelist/api-evangelist-logo-400.png"></a></div> 
        
    </div>
    
    <div id="navigation" class="col-full">

        <ul id="main-nav" class="nav fl">
            <li class="{% if page.title == 'API 101' %}page_item current_page_item{% else %}page_item page-item-2{% endif %}"><a href="/index.html" title="Home">API 101</a></li>
            <li class="{% if page.title == 'History of APIs' %}page_item current_page_item{% else %}page_item page-item-2{% endif %}"><a href="http://history.apievangelist.com" title="History">History of APIs</a></li>
            <li class="{% if page.title == 'Blog' %}page_item current_page_item{% else %}page_item page-item-2{% endif %}"><a href="/blog/" title="Blog">Blog</a></li>
            <li class="{% if page.title == 'Reports' %}page_item current_page_item{% else %}page_item page-item-2{% endif %}"><a href="/reports/" title="Reports">Reports</a></li>
            <li class="{% if page.title == 'Provide' %}page_item current_page_item{% else %}page_item page-item-2{% endif %}"><a href="/provide/" title="Provide">Provide</a></li>
            <li class="{% if page.title == 'Consume' %}page_item current_page_item{% else %}page_item page-item-2{% endif %}"><a href="/consume/" title="Consume">Consume</a></li>
            <li class="{% if page.title == 'Trends' %}page_item current_page_item{% else %}page_item page-item-2{% endif %}"><a href="/trends/" title="Trends">Trends</a></li>
            <li class="{% if page.title == 'API Templates' %}page_item current_page_item{% else %}page_item page-item-2{% endif %}"><a href="/templates/" title="API Templates">API Templates</a></li>
            <li class="{% if page.title == 'Utility APIs' %}page_item current_page_item{% else %}page_item page-item-2{% endif %}"><a href="/utilities/" title="Utility APIs">Utility APIs</a></li>
           </ul>

        <ul class="rss fr">
            <li class="sub-rss">                
                <a href="mailto:info@apievangelist.com">
                    <img src="https://s3.amazonaws.com/kinlane-productions/icon-set-roundedcorners/gmail-icon.png" width="28" />
                </a>
            </li>   
            <li class="sub-rss">
                <a href="http://feeds.feedburner.com/ApiEvangelist" target="_blank">
                    <img src="http://kinlane-productions.s3.amazonaws.com/icon-set-roundedcorners/rss.png" />
                </a>           
            </li>
            <li class="sub-rss">                
                <a href="https://twitter.com/#!/kinlane" target="_blank">
                    <img src="http://kinlane-productions.s3.amazonaws.com/icon-set-roundedcorners/twitter.png" />
                </a>
            </li>
            <li class="sub-rss">
                <a href="http://www.linkedin.com/in/kinlane" target="_blank">
                    <img src="http://kinlane-productions.s3.amazonaws.com/icon-set-roundedcorners/linkedin.png" />
                </a>
            </li>
            <li class="sub-rss">
                <a href="https://plus.google.com/106460238807821851374" target="_blank">
                    <img src="http://kinlane-productions.s3.amazonaws.com/icon-set-roundedcorners/google.png" />
                </a>
            </li>           
        </ul>

    </div>

    <div id="content" class="col-full">

        <div id="main-sidebar-container">

            <!-- #main Starts -->
            <div id="main">      
                                
                <!-- Post Starts -->
                <div class="post-1 post type-post hentry category-api-marketplace category-uncategorized"> 
