<div class="container">
	<div class="row">
		<div class="col-1"></div>
		<div class="col-10">
			
      <div class="mb-3">
				<label for="role" class="form-label">Your Name</label>
				<input type="text" class="form-control" id="role" name="role" placeholder="">
      </div>	      
			<div class="mb-3">
				<label for="email" class="form-label">Your Email</label>
				<input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
      </div>
      <div class="mb-3">
				<label for="role" class="form-label">Your Role</label>
				<input type="text" class="form-control" id="role" name="role" placeholder="">
      </div>	
      <div class="mb-3">
				<label for="company" class="form-label">Your Company</label>
				<input type="text" class="form-control" id="company" name="company" placeholder="">
      </div>			  		  
      <div class="mb-3">
				<label for="other" class="form-label">Other Info</label>
				<textarea class="form-control" id="other" name="other" rows="3"></textarea>
			</div>			
			<center>
				<input type="submit" class="btn btn-dark" name="Request" value="Initiate a Contract">
			</center>	
		</div>
		<div class="col-1"></div>
	</div>
</div>