<section id="banner">
	<div class="content">
		<header>
			<h2>This Site Operates Because Of These Partners</h2>
		</header>
    {% assign partners = site.data.partners.index | sort: 'view_sort' %}
    {% for partner in partners %}
      {% if partner.type == 'Sponsor' %}
      <article>
        <div class="content">
          <p align="center"><a href="{{ partner.url }}" target="_blank"><img src="{{ partner.image }}" width="75%" style="padding: 15px; border: 1px solid #000;" /></a></p>
        </div>
      </article>
      {% endif %}
    {% endfor %}
  </div>
</section>



<section id="banner">
	<div class="content">
		<header>
			<h2><a href="http://101.apievangelist.com">API 101</a></h2>
		</header>
		<p>I have a lot of information regarding APIs on my network of sites, but I'm always trying to make sure I have a sufficient amount of 101, or getting started information for people who are just learning what an API is, and what is possible.</p>
		<p>I have some information available to help walk you through the concept of an API, and how they have been expanding over the last 15 years across all the online services you have become familiar with on the web and mobile phone.</p>
		<ul class="actions" style="text-align: center;">
			<li><a href="http://101.apievangelist.com" class="button big">Getting Started With APIs</a></li>
		</ul>
	</div>
	<span class="image object">
		<a href="http://101.apievangelist.com"><img src="/images/api-101-square.png" alt="" width="25%" /></a>
	</span>
</section>
