<div class="uk-margin-large-top">
    <h3>{{ site.data.translation[site.lang].related_infos | default: "Related infos" }}</h3>

    {% assign maxRelated = 4 %}
    {% assign minCommonTags =  1 %}
    {% assign maxRelatedCounter = 0 %}

    <ul class="uk-list link-secondary">
    {% for info in site.infos %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for tag in info.tags %}
        {% if info.url != page.url %}
            {% if page.tags contains tag %}
                {% assign sameTagCount = sameTagCount | plus: 1 %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
        <li><a href="{{ site.baseurl }}{{ info.url }}">{{ info.title }}</a></li>
        {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
        {% if maxRelatedCounter >= maxRelated %}
            {% break %}
        {% endif %}
    {% endif %}

    {% endfor %}
    </ul>
</div>
