<section>
  <div class="mini-posts">
    <header>
			<h2 style="text-align: center;"><i>API Evangelist Sponsors</i></h2>
		</header>
    {% assign partners = site.data.partners.index | sort: 'view_sort' %}
    {% for partner in partners %}
      {% if partner.type == 'Sponsor' %}
        <article style="display: inline;">
          <a href="{{ partner.url }}" class="image"><img src="{{ partner.image }}" alt="" width="50%" style="padding: 15px; border: 1px solid #000;" /></a>
        </article>
      {% endif %}
    {% endfor %}
  </div>
</section>
