<nav id="menu">
  <header class="major">
    <h2>Menu</h2>
  </header>
  <ul>
    <li><a href="/">Homepage</a></li>
    <li><a href="http://101.apievangelist.com/">101</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="http://101.apievangelist.com">API 101</a></li>
    <li><a href="/#api-lifecycle">API Lifecycle</a></li>
    <li><a href="http://theapistack.com">API Stack</a></li>
    <li><a href="/archive/">Archive</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/contact/">Contact</a></li>
  </ul>
</nav>
