{% assign services = site.data.services %}
{% assign counter = 1 %}
<p>{{ strategy_services.header }}</p>
<div class="container">
{% for entry in strategy_services.services %}
  {% for service in services %}   
    {% if service.slug == entry  %}   
      {% assign service = service %}   
    {% endif %}  
  {% endfor %}  
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-1" style="text-align:center;">
      <img src="{{ service.image }}" width="50">
    </div>  
    <div class="col-2" style="text-align:left; padding-top: 10px; font-size: 18px; font-weight; bold;">
      <strong>{{ service.name }}</strong>
    </div>
    <div class="col-7" style="text-align:left;">{{ service.description }}</div>
    <div class="col-2" style="text-align:center;border: 1px solid #FFF;">
      <input type="radio" class="btn-check" value="YES" name="Strategy Service-{{ service.name }}" id="{{ service.name | slugify }}-success-outlined-{{ counter }}" autocomplete="off">
      <label class="btn btn-outline-success" for="{{ service.name | slugify }}-success-outlined-{{ counter }}">YES</label>
      <input type="radio" class="btn-check" value="NO" name="Strategy Service-{{ service.name }}" id="{{ service.name | slugify }}-danger-outlined-{{ counter }}" autocomplete="off" checked>
      <label class="btn btn-outline-danger" for="{{ service.name | slugify }}-danger-outlined-{{ counter }}">NO</label>
    </div>         
  </div>
  {% assign counter = counter | plus: 1 %}  
{% endfor %}
</div>
<p>{{ strategy_services.footer }}</p>