---
layout: page
title: API Services
---
<p style="padding-bottom: 15px;">To power and support the stories and conversation I have with API producers, consumers, and service providers I have crafted a suite of tactical and strategy API governance services to help enterprises standardize their API operations and be more successful in their API journey through the better alignment of product and engineering teams producing and consuming APIs.</p>
<div style="display: inline; margin: 35px 35px 35px 35px;">
<div style="border: 2px solid #000; padding: 15px 15px 15px 15px; border-radius: 25px; width: 44%; display: inline-block;">

<h2>Tactical Services</h2>
{% assign tactical_services = site.data['tactical-services'] %}
{% assign services = site.data.services %}
{% assign counter = 1 %}
<p>{{ tactical_services.header }}</p>
<ul>
{% for entry in tactical_services.services %}
{% for service in services %}   
	{% if service.slug == entry  %}   
	{% assign service = service %}   
	{% endif %}  
{% endfor %}  
<li><strong>{{ service.name }}</strong> - {{ service.summary }}</li>        
{% assign counter = counter | plus: 1 %}  
{% endfor %}
</ul>
<p>{{ tactical_services.footer }}</p>

</div>

<div style="border: 2px solid #000; padding: 15px 15px 15px 15px; border-radius: 25px; width: 44%; display: inline-block;">

<h2>Strategic Services</h2>
{% assign strategic_services = site.data['strategic-services'] %}
{% assign services = site.data.services %}
{% assign counter = 1 %}
<p>{{ strategic_services.header }}</p>
<ul>
{% for entry in strategic_services.services %}
{% for service in services %}   
	{% if service.slug == entry  %}   
	{% assign service = service %}   
	{% endif %}  
{% endfor %}  
<li><strong>{{ service.name }}</strong> - {{ service.summary }}</li>     
{% assign counter = counter | plus: 1 %}  
{% endfor %}
</ul>
<p>{{ strategic_services.footer }}</p>

</div>
</div>
<p style="padding-top: 15px;">If you are unsure of where to start, just reach out and let's chat about where you are at today, and where you would like to be, then I can help you think through the tactical and strategic implications. In my experience, no two enterprises have the same needs, but like APIs, I've kept my API governance guidance modular and adaptable to what you need right now.</p>
<center>
	<a href="/contact/"><button style="background-color: #000;border: none;color: white;padding: 20px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;border-radius: 12px;">Contact API Evangelist</button></a>
</center>	