@import "https://fonts.googleapis.com/css?family=Raleway";
body{
    padding-top:20px;
    font-family:raleway,sans-serif;
    padding-bottom:40px
}
.container-narrow{
    margin:0 auto;
    max-width:80%
}
.container-narrow>hr{
    margin:30px 0
}
.jumbotron{
    margin:60px 0;
    text-align:center
}
.jumbotron h1{
    font-size:72px;
    line-height:1
}
.jumbotron .btn{
    font-size:21px;
    padding:14px 24px
}
.marketing{
    margin:60px 0
}
.marketing p+h4{
    margin-top:28px
}
