---
layout: page
title: API Evangelist Network Clicks for September 2016
---

<p>These are the feature guide / white paper, and sponsor logo clicks across my research for September of 2016 -- <a href="/feature/">Return to Main Page</a>.</p>
<table width="100%" border="0">
{% for entry in site.data.projects.clicks-2016-09 %}
<tr>
  <td><strong>Feature Guides / White Papers</strong></td>
</tr>
  {% for project in entry.projects %}
      <tr>
        <td style="width: 40%;">
          <a href="{{ project.url }}" target="_blank" style="font-size: 11px;">{{ project.title }}</a>
        </td>
        <td align="left">
          <table style="width: {{ project.views_count | divided_by:10 }}px; height: 18px;"><tr><td style="background-color:#000; text-align: right; color:#FFF; padding-right: 5px; font-size: 11px;">{{ project.views_count }}</td></tr></table>
        </td>
        <td align="left">
          <table style="width: {{ project.click_count | divided_by:10 }}px; height: 18px;"><tr><td style="background-color:#000; text-align: right; color:#FFF; padding-right: 5px; font-size: 11px;">{{ project.click_count }}</td></tr></table>
        </td>
      </tr>
    {% endfor %}
<tr>
  <td><strong>Sponsor Logos</strong></td>
</tr>
    {% for link in entry.links %}
        <tr>
          <td style="width: 40%;">
            <a href="{{ link.url }}" target="_blank" style="font-size: 11px;">{{ link.title }}</a>
          </td>
          <td align="left">
            <table style="width: {{ link.views_count | divided_by:10 }}px; height: 18px;"><tr><td style="background-color:#000; text-align: right; color:#FFF; padding-right: 5px; font-size: 11px;">{{ link.views_count }}</td></tr></table>
          </td>
          <td align="left">
            <table style="width: {{ link.click_count | divided_by:10 }}px; height: 18px;"><tr><td style="background-color:#000; text-align: right; color:#FFF; padding-right: 5px; font-size: 11px;">{{ link.click_count }}</td></tr></table>
          </td>
        </tr>
      {% endfor %}
{% endfor %}
</table>
