---
layout: default
---

<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-large" data-uk-grid>

            <div class="sidebar-fixed-width uk-visible@m">
                <div class="sidebar-docs uk-position-fixed uk-margin-top">
                    {% for section in site.data.navigation_info %}
                    <h5>{{ section.title }}</h5>
                    <ul class="uk-nav uk-nav-default doc-nav">
                    {% for info in section.info %}
                      {% assign info_url = info | prepend:"/info/" | append:"/" %}
                      {% assign p = site.info | where:"url", info_url | first %}
                      <li class="{% if info_url == page.url %}uk-active{% endif %}"><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
                    {% endfor %}
                    </ul>
                    {% endfor %}
                </div>
            </div>

            <div class="uk-width-1-1 uk-width-expand@m">

                <article class="uk-article">

                    <h1 class="uk-article-title">{{ page.title | escape }}</h1>
                    <div class="article-content link-primary">
                        {{ content }}
                        {% if site.share.info %}
                            {% include share.html %}
                        {% endif %}
                    </div>
                    <hr class="uk-margin-medium">
                    {% include related-info.html %}
                </article>

                <script>
                    // Table of contents scroll to
                    UIkit.scroll('#markdown-toc a', {
                        duration: 400,
                        offset: 120
                    });
                </script>

            </div>

    </div>
</div>
