---
layout: page
title: Views for September, 2016
---

<table width="100%" border="1">
{% for entry in site.data.projects.views-2016-09 %}
  <tr>
    <td width="35%" style="padding-left: 10px;">
      <a href="http://{{ entry.host }}" target="_blank" style="font-size: 11px;">{{ entry.host }}</a>
  </td>
    <td align="left">
      <table style="width: {{ entry.views }}px; height: 25px;"><tr><td style="background-color:#000; text-align: right; font-color:#FFF; padding-right: 10px;">{{ entry.views }}</td></tr></table>
    </td>
  </tr>
{% endfor %}
</table>
